@import "../../utils/colors.css";

.footerDiv {
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color3);
  color: var(--color1);
}

.footerLink {
  text-decoration: none;
  color: var(--color1);
}
